# Data Analysis on Kaggle Student Exam Scores dataset
## Source
The dataset can be found on [Kaggle](https://www.kaggle.com/datasets/desalegngeb/students-exam-scores).
## Objective
Our objective here is to practise loading CSV data, cleaning it and analyzing it using Pandas.

In [12]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

import sys
sys.path.append('..')
from utils.data_io import check_file

In [13]:
original_data_path = './datasets/student_exam_scores/Original_data_with_more_rows.csv'
expanded_data_path = './datasets/student_exam_scores/Expanded_data_with_more_features.csv'

# Check if these are valid file paths.
check_file(original_data_path)
check_file(expanded_data_path)

In [14]:
original_df = pd.read_csv(original_data_path)
print(f"Original dataframe shape {original_df.shape}")
original_columns = original_df.columns.tolist()
print(f"Original dataframe columns {original_columns}")

expanded_df = pd.read_csv(expanded_data_path)
print(f"Expanded dataframe shape {expanded_df.shape}")
print(f"Expanded dataframe columns {expanded_df.columns}")

Original dataframe shape (30641, 9)
Original dataframe columns ['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'TestPrep', 'MathScore', 'ReadingScore', 'WritingScore']
Expanded dataframe shape (30641, 15)
Expanded dataframe columns Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

## Initial comments
- While both datasets contain the same number of rows, they don't have the same number of columns. The second dataset has additional columns/features.
- They both have an index column, which may be dropped later on.
- Column names are shortened in both datasets, so they may be re-named later on.

In [15]:
print(expanded_df.head(5))
print(expanded_df.info())

   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB
None

## Compare the two datasets
- We can check if the common columns of these two datasets are equal.

In [16]:
expanded_df_selected = expanded_df.isin(original_columns)
print(f"Are the common columns equal? {original_df.equals(expanded_df_selected)}")

Are the common columns equal? False

## Delete redundant columns
- The first column is the index. We don't need it, so we can get rid of it.

In [17]:
expanded_df = expanded_df.drop(columns=['Unnamed: 0'])

## Drop duplicates

## Fill in missing values in the dataset

## Make column names clear/verbose

## Visualize the data

## Convert data

## Save the cleaned dataframe